* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fdedf7;
}
a {
  text-decoration: none;
}

header {
  nav {
    font-size: 30px;
    div {
      div {
        justify-content: flex-end;
      }
    }
  }
}

.productos {
  h2 {
    font-size: 30px;
    padding: 1rem;
  }
}
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 1rem 0rem;
  height: 400px;
  img {
    height: 60%;
    object-fit: contain;
    padding: 1rem;
  }
  h5 {
    font-size: 1rem;
    text-align: center;
  }
  p {
    font-size: 12px;
    text-align: center;
    padding: 0px;
  }
  .card-body {
    overflow: hidden;
  }
}
.card:hover {
  cursor: pointer;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.boton {
  background-color: $color5;
  border: none;
}
.sobreMi {
  background-color: $color5;
  color: white;

  p {
    text-align: center;
  }
}
.sobreMi {
  h2 {
    padding: 1rem;
    font-size: 30px;
  }
  p {
    font-size: 17px;
    padding: 2rem;
    margin-bottom: 0;
  }
}

#carritoList {
  list-style: none;
  li {
    ul {
      max-height: 80vh;
      overflow-y: auto;
    }
  }
}
.dropdown-menu[data-bs-popper] {
  left: -300px;
}

.cart {
  position: fixed;
  z-index: 1;
  top: 10px;
  right: 10px;
}
.fa-cart-shopping{
  color: $color5
}
.fa-cart-shopping:hover{
  color: black
}

#tbody{
  th{
    font-size: 10px;
    img{
      width: 75%;
    }
  }
}


.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}