* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  background-color: #fdedf7;
}
a {
  text-decoration: none;
}
a:hover {
  color: $color1 !important;
  
}
header {
  
  nav {
    
    font-size: 30px;
    div {
      div {
        justify-content: flex-end;
      }
    }
  }
}


.productos {
  background-color: $color1;
  h2{
    font-size: 30px;
    padding: 1rem;
  }
  
}
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 1rem 0rem;
  height: 400px;
  img{
    height: 60%;
    object-fit: contain;
    padding: 0rem 1rem;
    
  }
  h5{
    font-size: 1rem;
    text-align: center;
    
  }
  p {
    font-size: 12px;
    text-align: center;
    padding: 0px;
  }
  .card-body{
    overflow: hidden;
  }
}
.card:hover{
  background-color: rgb(221, 220, 220);
  cursor: pointer;
}
.boton{
  background-color: $color5;
  border: none;
}
.sobreMi {
  background-color: $color1;
  p {
    text-align: center;
  }
}
.sobreMi{
  h2{
    padding: 1rem;
    font-size: 30px;
  }
  p{
    font-size: 17px;
    padding: 2rem;
    margin-bottom: 0;
  }
}
footer{
  background-color: $color2;
}
#carritoList{
  list-style: none;
  li{
    
    ul{
      max-height: 80vh;
      overflow-y: auto;
    }
    
  }
}
.dropdown-menu[data-bs-popper]{
  left: -300px
}

