* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a:hover {
  color: $color5 !important;
  transform: scale(1.2);
}
header {
  nav {
    background-color: $color1;
    font-size: 30px;
    div {
      div {
        justify-content: flex-end;
      }
    }
  }
}
.seccion1 {
  background-image: url(../imagenes/logo2.jpeg);
  background-repeat:no-repeat;
  background-size: 100% ;
  background-position: center;
  height: 20rem;
}

.productos {
  background-color: $color3;
  h2{
    font-size: 30px;
    padding: 1rem;
  }
  
}
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 1rem 0rem;
  h5{
    font-size: 15px;
    text-align: center;
  }
  p {
    font-size: 12px;
    text-align: center;
    padding: 0px;
  }
}
.sobreMi {
  background-color: $color1;
  p {
    text-align: center;
  }
}
.sobreMi{
  h2{
    padding: 1rem;
    font-size: 30px;
  }
  p{
    font-size: 17px;
    padding: 2rem;
    margin-bottom: 0;
  }
}
footer{
  background-color: $color2;
}
